@import url(https://db.onlinewebfonts.com/c/51fbab06334218b0fbd925f5754e21ad?family=Cake+n+Truffles);

/* Base styles */
body {
  font-family: "Cake n Truffles";
  color: #161616;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

h1 {
  font-size: 40px;
  margin: 0;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.time h1 {
  margin: 10px 0;
}

.time p {
  margin: 0 5px;
  font-size: 2rem;
}

.timeHead {
  color: #545148;
  font-size: 15px;
}

.timeHead > span {
  margin: 0 1.5rem;
}

.timeBody {
  margin-top: 1.2rem;
  color: #afa892;
  display: flex;
  align-items: center;
}

.timeBody > span {
  margin: 0 1.5rem;
  font-size: 32px;
}

.text-p {
  font-size: 15px;
}

section {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-image {
  animation: zoomInOut 4s infinite;
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.btn-wrapper {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Cake n Truffles";
  font-size: 16px;
}

.btn-wrapper:hover {
  transform: scale(1.05);
}

.btn-wrapper > img.gift-right {
  position: absolute;
  top: 5%;
  left: 85%;
}

.btn-wrapper > img.gift-left {
  position: absolute;
  top: 30%;
  left: -12%;
  transform: rotate(300deg);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

button {
  font-family: "Cake n Truffles";
  letter-spacing: 2px;
  margin-top: 2rem;
  padding: 20px 3rem;
  background: #83adb6;
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 0 0 2em transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #6b98a2;
}

.badges {
  position: fixed;
  bottom: 3%;
  right: 0.5%;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black overlay */
  overflow: auto; /* Enable scroll if needed */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.active {
  display: block;
  opacity: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or */
  border-radius: 40px;
  max-width: 741px;
  text-align: center;
  transform: scale(0.8);
  transition: all 0.5s ease-in-out;
}

.modal.active .modal-content {
  transform: scale(1);
}

.modal-content > div {
  margin-top: 3rem;
}

.modal-content > div > p {
  width: 300px;
  margin: 30px auto;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.text-highlight {
  color: #f9b84f;
}
a{
  text-decoration: none;
}