@import url(https://db.onlinewebfonts.com/c/51fbab06334218b0fbd925f5754e21ad?family=Cake+n+Truffles);
body {
  font-family: "Cake n Truffles";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time h1 {
  margin-right: 10px;
}

.time p {
  margin: 0 5px;
  font-size: 2rem;
}